user-media-selector {
  display: flex;
  flex-direction: column;
  padding: 10px;
  & > * {
    margin-bottom: 15px;
  }
  video {
    max-width: 100%;
  }
  label {
    width: 100%;
    select {
      width: 100%;
      height: 35px;
      font-size: 1.5em;
    }
  }
}
